<a href="https://colab.research.google.com/github/Inshaslam/AI/blob/main/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list=[]
print("Blank List")
print(list)
#Creating a list of numbers
list=[40,50,60]
print("list of numbers ")
print (list)

Blank List
[]
list of numbers
[40, 50, 60]

In [2]:
list=["geeks","for","GEEks"]
print("List items")
print(list[0])
print(list[1])

List items
geeks
for

In [3]:
#Creating a multi_dimensional list
list=[['geeks','for'],['geeks']]
print("Multidimensional array")
print(list)

Multidimensional array
[['geeks', 'for'], ['geeks']]

In [6]:

#Activity #1
mylist=[]
print("Enter  a list that is  taken from user 1")
for i in range (5):
  val=input("Enter a value")
  n=int(val)
  mylist.append(n)
  #taken list 2
mylist2=[]
print("Enter a list that is taken from list 2")
for i in range (5):
    val=input("enter a number")
    n=int(val)
    mylist2.append(n)
list3=mylist+mylist2;
print(list3)
122

Enter  a list that is  taken from user 1
Enter a value2
Enter a value3
Enter a value4
Enter a value5
Enter a value6
Enter a list that is taken from list 2
enter a number7
enter a number8
enter a number5
enter a number4
enter a number3
[2, 3, 4, 5, 6, 7, 8, 5, 4, 3]

1

In [7]:
#Activity number# 2
list= [1,2,3,4,5,4,5,6,6]
print("Listing By using LIST")
print(list)

Listing By using LIST
[1, 2, 3, 4, 5, 4, 5, 6, 6]

In [8]:
def isPalindrome(words):
  temp=words[::-1]
  if temp.capitalize()==words.capitalize():
      return True
  else:
       return False
print(isPalindrome("Mom"))

True

In [9]:
A = [[1, 0, 0],
    [0, 1, 0],
    [0, 0, 1]]
 
# take a 3x4 matrix   
B = [[1, 2, 3, ],
    [4, 5, 6 ],
    [7, 8, 9 ]]
     
c = [[0, 0, 0, 0],
        [0, 0, 0, 0],
        [0, 0, 0, 0]]
 
# iterating by row of A
for i in range(len(A)):
 
    # iterating by column by B
    for j in range(len(B[0])):
 
        # iterating by rows of B
        for k in range(len(B)):
            c[i][j] += A[i][k] * B[k][j]
 
for r in c:
    print(r)

[1, 2, 3, 0]
[4, 5, 6, 0]
[7, 8, 9, 0]

In [10]:

#Activity 6
sample={("AQsa,Insha"):"03131512785889",("ayesha","Saba"):"03145678738787",("Aunsha","Yusra"):"677547638636827"}
firstname=input("Enter the first name")
lastname=input("enter the last name ")
searchtuple=(firstname,lastname)
if searchtuple in sample:
  print(sample[searchtuple])
else:
    print("name not found")

Enter the first namearad
enter the last name bucharest
name not found

In [11]:
5
#Lab activity 1
n=int(input("enter a  total number of elements :"))#3
l=[]5
for i in range(0,n,1):#0,1,2
     
      element=input("enter a number")
      l.append(element)
      print("list:",l)

n2=int(input("enter a  total number of elements :"))#3
l2=[]
for i in range(0,n2,1):#0,1,2
     
      element=input("enter a number")
      l2.append(element)
      print("list2:",l2)
      meg=l+l2
      print("merged list is", meg)
      meg.sort()
      print("sorted list is",meg)

enter a  total number of elements :7
enter a number8
list: ['8']
enter a number7
list: ['8', '7']
enter a number9
list: ['8', '7', '9']
enter a number6
list: ['8', '7', '9', '6']
enter a number8
list: ['8', '7', '9', '6', '8']
enter a number3
list: ['8', '7', '9', '6', '8', '3']
enter a number4
list: ['8', '7', '9', '6', '8', '3', '4']
enter a  total number of elements :3
enter a number2
list2: ['2']
merged list is ['8', '7', '9', '6', '8', '3', '4', '2']
sorted list is ['2', '3', '4', '6', '7', '8', '8', '9']
enter a number1
list2: ['2', '1']
merged list is ['8', '7', '9', '6', '8', '3', '4', '2', '1']
sorted list is ['1', '2', '3', '4', '6', '7', '8', '8', '9']
enter a number4
list2: ['2', '1', '4']
merged list is ['8', '7', '9', '6', '8', '3', '4', '2', '1', '4']
sorted list is ['1', '2', '3', '4', '4', '6', '7', '8', '8', '9']

In [12]:
#task 2
n=int(input("enter a  total number of elements :"))#3
l=[]
for i in range(0,n,1):#0,1,2
     
      element=input("enter a number")
      l.append(element)
      print("list:",l)

n2=int(input("enter a  total number of elements :"))#3
l2=[]
for i in range(0,n2,1):#0,1,2
     
      element=input("enter a number")
      l2.append(element)
      print("list2:",l2)
      meg=l+l2
      print("merged list is", meg)
      meg.sort()
      print("sorted list is",meg)
          
smalest=min(meg)
largest=max(meg)
print("Smallest value is",smalest)
print("largest value is",largest)

enter a  total number of elements :5
enter a number6
list: ['6']
enter a number5
list: ['6', '5']
enter a number5
list: ['6', '5', '5']
enter a number5
list: ['6', '5', '5', '5']
enter a number5
list: ['6', '5', '5', '5', '5']
enter a  total number of elements :5
enter a number5
list2: ['5']
merged list is ['6', '5', '5', '5', '5', '5']
sorted list is ['5', '5', '5', '5', '5', '6']
enter a number
list2: ['5', '']
merged list is ['6', '5', '5', '5', '5', '5', '']
sorted list is ['', '5', '5', '5', '5', '5', '6']
enter a number5
list2: ['5', '', '5']
merged list is ['6', '5', '5', '5', '5', '5', '', '5']
sorted list is ['', '5', '5', '5', '5', '5', '5', '6']
enter a number5
list2: ['5', '', '5', '5']
merged list is ['6', '5', '5', '5', '5', '5', '', '5', '5']
sorted list is ['', '5', '5', '5', '5', '5', '5', '5', '6']
enter a number2
list2: ['5', '', '5', '5', '2']
merged list is ['6', '5', '5', '5', '5', '5', '', '5', '5', '2']
sorted list is ['', '2', '5', '5', '5', '5', '5', '5', '5', '6']
Smallest value is
largest value is 6

In [13]:

def perimeter(listing):
    leng=len(listing)
    perimeter=0;  
    for i in range(0,leng-1):
        dlist=(((listing[i][0]-listing[i+1][0]**2)+listing[i][1]-listing[i+1][0]**2))**0.5
        perimeter=perimeter+dlist
    perimeter=perimeter+(((listing[0][0]-listing[leng-1][0]**2)+listing[0][1]-listing[leng-1][1]**2))**0.5
  
    return perimeter
L=[(1,3),(2,7),(3,9),(-1,0)]
print(perimeter(L))

(4.894328467737257+5j)

In [14]:
def symmDiff(a,b):
  e=set()
  for i in a:
       if i not in b:
            e.add(i)
            for i in b:
              if i not in a:
                e.add(i)
set1={1,2,4,5}
set2={4,5,7,8,9}
print(symmDiff(set1,set2))
print(set1.symmetric_difference(set2))
print(set2.symmetric_difference(set1))
print(set1^set2)
print(set2^set1)

None
{1, 2, 7, 8, 9}
{1, 2, 7, 8, 9}
{1, 2, 7, 8, 9}
{1, 2, 7, 8, 9}

In [15]:
sample_dict = {
    'emp1': {'name': 'aqsa', 'salary': 7500},
    'emp2': {'name': 'ayesha', 'salary': 8000},
    'emp3': {'name': 'insha', 'salary': 500}
}
sample_dict['emp3']['salary'] = 8000
print(sample_dict['emp3'])

{'name': 'insha', 'salary': 8000}

In [16]:
if __name__ == '__main__':

    birthdays = {
        'aqsa': '01/06/2003',
        'Haris': '15/oct/2000',
        'waduha': '15/10/2007'
    }

    print('Welcome to the birthday dictionary. We know the birthdays of:')
    for name in birthdays:
        print(name)

    print('Who\'s birthday do you want to look up?')
    name = input()
    if name in birthdays:
        print('{}\'s birthday is {}.'.format(name, birthdays[name]))
    else:
        print('Sadly, we don\'t have {}\'s birthday.'.format(name))

Welcome to the birthday dictionary. We know the birthdays of:
aqsa
Haris
waduha
Who's birthday do you want to look up?
aqsa
aqsa's birthday is 01/06/2003.